
<div class="test">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1><b>Terryberry Angular Code Sample Requirements</b></h1>
          <p><strong >Summary: </strong>Create an angular application that displays your name, any hobbies/interests and a short description about yourself</p>
          <p>1.	Create an Angular App
            2.	Create a Module called <strong >AboutMe</strong><br>
            3.	Create a Component inside <strong>AboutMe</strong> called <strong>MyInfo</strong><br>
            4.	Specify the route for this component as <strong></strong>/AboutMe/MyInfo<br>
            5.	Create a navigation bar that is displayed at the top of the page regardless of the current route. Include links to the root page / and the MyInfo page <strong>/AboutMe/MyInfo</strong>. The contents of the root page are not important, but feel free to put something there if you’d like.
            6.	Create a Service called <strong>MyInfo.Repositoryinside</strong> a /Repositories folder<br>
            7.	Pull your Hobbies/Interest and basic information from<strong>MyInfo.Repository</strong> <br>
            a.	Use in memory api to fake an api <strong>(HttpClientInMemoryWebApiModule)</strong>. See <a href="https://angular.io/tutorial/toh-pt6">https://angular.io/tutorial/toh-pt6</a> for an example.<br>
            8.	Display the information in the MyInfoComponent using a card:  <a href="https://material.angular.io/components/card/overview">https://material.angular.io/components/card/overview</a><br>
            9.	Create a FormGroup to hold the information. Each field should be displayed in an Angular Material input. <br>
            </p>
        </div>
      </div>
    </div>
    </div>
    